@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1f2c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility no-scrollbar {
  scrollbar-width: none;
}
